<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @user.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Bio:</strong>
  <%= @user.bio %>
</p>

<h2>Twits</h2>
<%= render @user.twits %>

<h2>Add a twit:</h2>
<%= render 'twits/form' %>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
| <%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
